html {
    background-color: #1f1f1f;
    color: #ffffff;
    font-family: 'Helvetica';
    font-weight: 700;
}

h1 {
  font-size: 10;
}    

#img-container {
  display: flex;
  justify-content: center;
}

img {
  max-width: 300px;
}

#terminal-container {
  display: flex;
  justify-content: center;
}

#terminal-container-inner {
  max-width: 600px;
}
