<main>

<h1 class="txt-center">{{ .Title }}</h1>

{{ .Content }}

<hr style='margin-top: 1.5rem;'>

<h2 class="txt-center">first teams</h2>

{{ $pages := where site.RegularPages "Type" "first-teams" }}
{{ $paginator := .Paginate $pages.ByTitle 3 }}

{{ range $paginator.Pages }}

<div class='parent'>
  <article class="blog-post-card child">

    <h3 class="margin-bottom-sm margin-top-none">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h3>

  </article>
</div>

{{ end }}

{{ partial "paginate.html" . (dict "page" . "format" "default") }}

</main>
