<main>

{{ $var1 := page.Title }}
{{ $var2 := "Tags" }}

<h1 class="txt-center">{{ .Title }}</h1>

{{ if not (eq $var1 $var2) }}

  <p>Click on the links below to view articles with the <strong>{{ .Title }}</strong> tag.</p>

{{ end }}

{{ .Content }}

{{ if not (eq $var1 $var2) }}

  {{ range.Data.Pages }}

    <article>

    <h3 class="margin-bottom-sm">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h3>
    
    {{ partial "taxonomy-block.html" . }}

    </article>

  {{ end }}

{{ else}}

  <div class='taxonomy-cloud'>

    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}

        <a 
          href="/tags/{{ $name | urlize }}" 
          class='btn taxonomy-items'
        >{{ $name | humanize }} ({{ $taxonomy.Count }})</a>

    {{end}}
  
  </div>

{{ end }}

</main>
