<p class="margin-bottom-none"><strong style="margin-right: .2rem;">Date:</strong>
  <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
    {{ .Date.Format "January 2, 2006" }}
  </time>
</p>

<div>
  {{ if .Params.tags }}<strong style="margin-right: .2rem;">Tags:</strong> 
    {{ range $key, $value := .Params.tags }}
       <a style="margin-right: .1rem;" href="/tags/{{ $value | urlize }}">
	 {{ $value }}</a>
       {{ if ne $key (sub (len $.Params.tags) 1) }}&middot {{ else }}{{ end }}
    {{ end }}
  {{end}}
</div>

<div>
  {{ if .Params.categories }}<strong style="margin-right: .2rem;">Categories:</strong>
    {{ range $key, $value := .Params.categories }}
       <a style="margin-right: .1rem;" href="/categories/{{ $value | urlize }}">
	 {{ $value }}</a>
       {{ if ne $key (sub (len $.Params.categories) 1) }}&middot {{ else }}{{ end }}
    {{ end }}
  {{end}}
</div>
